this is khalti
<a id="payment-button-khalti" href="#">Pay with Khalti</a>

<script src="https://unpkg.com/khalti-checkout-web@latest/dist/khalti-checkout.iffe.js"></script>

<script>
  window.addEventListener('DOMContentLoaded', function () {
    SpreeGatewaysNepal.paymentMethodID = "<%= payment_method.id %>"
  })
  //
  //{
  //  "idx": "dJUHvrLBtucZ6sYK5BuNU5",
  //"token": "hJ5HhSgLedDHSjYfKZaLNR",
  //"amount": 1000,
  //"mobile": "98XXXXX935",
  //"product_identity": "1234567890",
  //"product_name": "Drogon",
  //"product_url": "http://gameofthrones.com/buy/Dragons"
  //}

  var config = {
    // replace this key with yours
    publicKey: 'test_public_key_5e19052f2a7e4b3bbf464a12653036bc',
    productIdentity: '1234567890',
    productName: 'Drogon',
    productUrl: 'http://gameofthrones.com/buy/Dragons',
    eventHandler: {
      onSuccess(payload) {
        // hit merchant api for initiating verfication
        console.log(payload);
      },
      // onError handler is optional
      onError(error) {
        // handle errors
        console.log(error);
      },
      onClose() {
        console.log('widget is closing');
      },
    },
    paymentPreference: [
      'KHALTI',
      'EBANKING',
      'MOBILE_BANKING',
      'CONNECT_IPS',
      'SCT',
    ],
  };

  var checkout = new KhaltiCheckout(config);
  var btn = document.getElementById("payment-button-khalti");
  btn.onclick = function (e) {
    e.preventDefault();
//    debugger
    // minimum transaction amount must be 10, i.e 1000 in paisa.
    checkout.show({amount: 1000});
  }
</script>
